<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>画像メニューの練習</title>
    <link rel="stylesheet" href="../assets/stylesheets/style.css">
  </head>
  <body>

    <div id="wrapper">

        <div id="header">
          <div id="logo">
            <p>最終課題</p>
          </div>
          <div id="menu1">
            <ul>
              <li><a href="index.html">main</a></li>
              <li><a href="page1.html">page1</a></li>
              <li><a href="page2.html">page2</a></li>
              <li><a href="page3.html">page3</a></li>
              <li><a href="page4.html">page4</a></li>
            </ul>
          </div>

          <div id="screen">

          </div>
        </div>

        <div id="content1">

          <h1> this is main text</h1>
          <p>
            At Seven Senses we believe that you are your greatest creation. Every moment is an opportunity  <br>
            At Seven Senses we believe that you are your greatest creation. Every moment is an opportunity to grow, heal, and <br>
            At Seven Senses we believe that you are your greatest creation. Every moment is an opportunity to grow, heal, and <br>
            At Seven Senses we believe that you are your greatest creation. Every moment is an opportunity  <br>
          </p>

          <div id="left-button"> white-color </div>
          <div id="left-button"> block-color </div>

        </div>

        <div id="content2">
          <article class="">

            <section>
              <img src="../assets/images/chura.png" height="100px">
              <h3>THE WORK</h3>
              <p>The healing journey is a universal human experience and a life-long process. At Seven Senses we are committed to making that process meaningful and empowering for all</p>
            </section>

            <section>
              <img src="../assets/images/chura.png" height="100px">
              <h3>THE WORK</h3>
              <p>The healing journey is a universal human experience and a life-long process. At Seven Senses we are committed to making that process meaningful and empowering for all</p>
            </section>

            <section>
              <img src="" height="100px">
              <h3>THE WORK</h3>
              <p>The healing journey is a universal human experience and a life-long process. At Seven Senses we are committed to making that process meaningful and empowering for all</p>
            </section>


          </article>

        </div>

        <div id="footer">

        </div>

    </div>
    <script type="text/javascript" src="../assets/javascript/index.js"></script>
  </body>
</html>
